.wrap {
	margin: auto;
	margin-top: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

.vite-text {
	background-image: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;
	font-size: 5rem;
}

.vite-logo {
	width: 5rem;
	height: 5rem;
}